#paidBookings {
  margin-left: 160px;
  color: grey;
  font-weight: bold;
}

hr.solid {
  border-top: 4px solid #bbb;
  margin-top: 0.5rem;
}

h2 {
  color: #DC4040;
}

#pBookingsCover {
  height: 400px;
}