.property {
  cursor: pointer;
  
  .property-image {
    padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
    background-size: cover;
    background-position: center;
  }
}

h3 {
  color: #DC4040;
}
